@import "tailwindcss";

/* Ghibli Font & Vibe */
body {
  font-family: "Nunito", sans-serif; /* Pastikan font ini dipakai */
  background-color: #f0f7f4; /* Warna awan mint sangat muda */
  background-image:
    radial-gradient(at 0% 0%, hsla(158, 46%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 100%, hsla(200, 75%, 90%, 1) 0px, transparent 50%);
  color: #134e4a; /* Teal gelap untuk teks agar kontras tapi tidak hitam pekat */
}

/* Animasi untuk Modal */
@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-bounce-in {
  animation: bounceIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
